<p>home works!</p>
<div class="container">
    <div class="row">
        <app-pai></app-pai>
    </div>
    <div class="row">
        <app-filho
        [recebeFamilia]="pessoas" 
        (respostaFamilia)="reciverFeedback($event)"></app-filho>
    </div>
    <div>
        <div>
            <table class="table table-striped">
                <thead>
                    <th>#</th>
                    <th>Nome</th>
                    <th>SobreNome</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of familia; let i=index">
                        <td>{{i}}</td>
                        <td>{{item.nome}}</td>
                        <td>{{item.sobreNome}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>